* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body { font-family: 'Helvetica Neue', 'Arial', sans-serif; }
canvas { border: 2px solid black; cursor: default; }

#draw_controls { width: 690px; height: 50px; border: 2px solid #000;
  padding-left: 10px; font-weight: bold; }
#draw_controls > * { vertical-align: middle; }
#line_width { width: 200px; }
#line_preview_container { width: 101px; height: 50px; overflow: hidden;
  display: inline-block; border-right: 2px solid #000; }
/* width and height of following are +1 pixel to better match what's drawn */
#line_preview { background: #000; border-radius: 50%; }

#draw_area { margin-top: 10px; }