* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body { font-family: 'Helvetica Neue', 'Arial', sans-serif; }
canvas { border: 2px solid black; cursor: default; }
canvas.active { cursor: none; }
.hidden { display: none; }

#draw_controls { width: 690px; height: 50px; border: 2px solid #000;
  padding-left: 10px; font-weight: bold; }

#line_width_container { height: 100%; border-right: 2px solid #000;
  width: 400px; float: left; }
#line_width_container > * { vertical-align: middle; }
#line_width { width: 200px; }
#line_preview_container { width: 102px; height: 100%; overflow: hidden;
  display: inline-block; }
#line_preview { background: #000; border-radius: 50%;
  border: 1px solid #ccc; }

#color_container { height: 100%; width: 288px; float: left; }
.color { width: 24px; height: 50%; float: left; }

#draw_area { clear: both; margin-top: 10px; }
#cursor { position: absolute; border-radius: 50%; border: 2px solid #ccc;
  pointer-events: none; width: 2px; height: 2px; left: -999px; top: -999px; }