* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body { font-family: 'Helvetica Neue', 'Arial', sans-serif; }
canvas { border: 2px solid black; cursor: default; }
canvas.active { cursor: none; }
.hidden { display: none; }

#draw_controls { width: 690px; height: 50px; border: 2px solid #000;
  padding-left: 10px; font-weight: bold; }

#line_width_container { height: 100%; border-right: 2px solid #000;
  width: 400px; float: left; }
#line_width_container > * { vertical-align: middle; }
#line_width { width: 50%; }

#line_preview_container { width: 100px; height: 100%; overflow: hidden;
  display: inline-block; }
#line_preview { background: #000; border-radius: 50%;
  border: 1px solid #ccc; }

#color_container { height: 100%; width: 288px; float: left; }
.color { width: 24px; height: 50%; float: left; }

#draw_area { clear: both; margin-top: 10px; }
#cursor { position: absolute; border-radius: 50%; border: 2px solid #ccc;
  pointer-events: none; width: 2px; height: 2px; left: -999px; top: -999px; }

#context_menu { position: absolute; float: left; padding-left: 10px; font-weight: bold; font-size: 12px; vertical-align: middle; border: 2px solid #ccc; background: #eee;
  width: 300px; height: 50px; left: -999px; top: -999px; }
#context_menu > * { vertical-align: middle; }
#line_width_context { width: 40%; }
#line_preview_context { background: #000; border-radius: 50%;
  border: 1px solid #ccc; }

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 40;
}

#overlay_screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  opacity: 0.9;
  z-index: 41;
}

.overlay_child {
  position: relative;
  top: 20%;
  margin: 0 auto;
  width: 40%;
  z-index: 50;
  padding: 10px 15px;
  background: #ddd;
}

#overlay_join input, #overlay_join button { font-size: 125%; }

.error { color: #900; }

@media only screen and (max-device-width: 719px), only screen and (max-width: 719px) {
  .pane, .subpane { position: relative; left: 0 !important; top: 0 !important; height: auto; width: 100% !important; }
  .subpane { padding: 0; }
  #right { box-shadow: 0 5px 20px 0 #bbb; }
  #left_bottom { padding-top: 20px; }
  #right { box-shadow: 0 -5px 20px 0 #bbb; }
  #judge_overlay span { margin-top: 15%; }
  .overlay_child { width: 100%; top: 10%; }
}